pkgbase = azure-storage-fuse
	pkgdesc = A virtual file system adapter for Azure Blob storage (blobfuse2)
	pkgver = 2.3.0
	pkgrel = 1
	url = https://github.com/Azure/azure-storage-fuse
	arch = x86_64
	license = MIT
	makedepends = go
	depends = fuse2
	depends = fuse3
	depends = glibc
	provides = blobfuse2
	source = azure-storage-fuse-2.3.0.tar.gz::https://github.com/Azure/azure-storage-fuse/archive/refs/tags/blobfuse2-2.3.0.tar.gz
	sha256sums = 9e7c3b98c4967d45405a4b9450fb3e90e329ffefaef1ffa0e6cedfd66991881b

pkgname = azure-storage-fuse
